/* 
   #[data-bare-cloak] 
   ========================================================================== */

/**
 * The cloak selector is used to hide content until the page is loaded. 
 */

[data-bare-cloak] {
	display: block !important;
	position: absolute;
	top: -9999px;
	left: -9999px;
}